p {
  margin: 5px;
}

hr {
  margin: 30px 0px;
}

.container {
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  grid-template-areas: 
    "sidebar header"
    "sidebar main";
  grid-template-columns: 300px 1fr;
}

.sidebar {
  background-color: #3b82f6;
  color: white;
  font-size: x-large;
  font-weight: bolder;
  grid-area: sidebar;
}

.sidebar-header,
.menu-item,
.option-item {
  align-items: center;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 4fr;
  padding: 15px;
}

.sidebar-options {
  padding-top: 100px;
}

.header {
  display: grid;
  grid-area: header;
  grid-template-columns: 2fr 1fr;
  padding: 10px;
}

.searchbar,
.current-user,
.welcome,
.header-buttons {
  align-items: center;
  display: grid;
}

.searchbar {
  gap: 20px;
  grid-template-columns: 20px 1fr;
  justify-content: start;
  padding-right: 100px;
}

.searchbar img {
  justify-self: center;
}

.searchbar input {
  background-color: lightgray;
  border: 0px;
  border-radius: 40px;
  height: 35px;
  justify-self: stretch;
}

.current-user {
  gap: 50px;
  grid-template-columns: 10px 20px 200px;
  justify-content: end;
}

.welcome {
grid-template-columns: 200px 400px 1fr;
}

.header-buttons {
  gap: 40px;
  grid-auto-flow: column;
  justify-content: end;
}

.header-button {
  background-color: #3b82f6;
  border: 0px;
  border-radius: 50px;
  color: whitesmoke;
  font-size: 20px;
  font-weight: bolder;
  padding: 10px 30px;
}

.main {
  background-color: lightgray;
  box-shadow: 0px 3px 10px grey inset;
  display: grid;
  gap: 10px;
  grid-area: main;
  grid-template-columns: 3fr 1fr;
  padding: 20px;
}

.projects {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.projects-header,
.announcements-header,
.trending-header {
  font-size: x-large;
  font-weight: bolder;
  padding-bottom: 10px;
}

.project-header {
  font-size: larger;
  font-weight: bolder;
}

.project,
.announcements,
.trending {
  background-color: whitesmoke;
  border-radius: 7px;
}

.project {
  padding: 0px 20px;
  border-left: 10px solid #fcd34d;
}

.announcements,
.trending {
  padding: 20px 30px;
}

.project-actions {
  display: grid;
  gap: 25px;
  grid-auto-flow: column;
  justify-content: end;
  padding: 20px 10px;
}

.main-column-2 {
  display: grid;
  gap: 30px;
}

.announcement-header {
  font-size: large;
  font-weight: bolder;
}

.trending-item {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 10px 0px
}
.trending-item-header {
  font-weight: bold;
}

.sidebar-icon,
.sidebar-header-icon {
  filter: invert(100);
  justify-self: center;
}

.avatar-small {
  height: 40px;
}

.avatar {
  height: 60px;
}

.page-icon, .sidebar-icon {
  height: 30px;
}

.sidebar-header-icon {
  height: 50px;
}
